#board {
    display: table;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

td {
    width: 60px; /* Größe der Felder anpassen */
    height: 60px;
    border: 1px solid #333; /* Dunkler Rand für bessere Sichtbarkeit */
    background-color: #fff; /* Weißer Hintergrund */
}

td.black {
    background-color: #999; /* Dunklere Felder für das Schachbrett */
}

img {
    width: 100%; /* Bilder passen sich der Zellgröße an */
    height: auto;
    display: block;
}
